---
import Footer from '../Footer.astro';
import SectionContainer from '../SectionContainer.astro';
---

<SectionContainer
	outerClass=" bg-primary text-neutral"
	innerClass="flex max-w-screen-md flex-col items-center gap-8 text-center"
>
	<h2 class="heading-responsive-02">รู้จักเรา</h2>

	<div class="flex flex-col items-center">
		<h3 class="heading-03">
			เครือข่ายต่อต้านความรุนแรง<br class="md:hidden" />ด้วยเหตุแห่งเพศ
			ประเทศไทย<br /> (Coalition against Gender-based<br class="md:hidden" /> Violence
			Thailand-CaGBV)
		</h3>
		<h3 class="body-02 mt-5 font-bold">
			เครือข่ายต่อต้านความรุนแรง<br class="md:hidden" />ด้วยเหตุแห่งเพศ
			ประเทศไทย (CaGBV)
		</h3>
		<p class="body-02-regular">
			ประกอบด้วย 10 องค์กร<br class="md:hidden" />ภาคประชาสังคม
			ที่มีประสบการณ์ทำงาน<br
				class="md:hidden"
			/>กับผู้ประสบปัญหาความรุนแรงในครอบครัว<br />และความรุนแรงทางเพศ
			และกับเจ้าหน้าที่ผู้ให้บริการ<br
				class="md:hidden"
			/>แก่ผู้ประสบปัญหาความรุนแรง มายาวนาน ได้แก่
		</p>
	</div>

	<div class="flex flex-col items-center gap-4">
		<h3 class="heading-03">สมาชิกเครือข่าย</h3>

		<div class="flex flex-row flex-wrap justify-center gap-2">
			<img src="/sponsor01.webp" class="h-[44px] w-[44px]" alt="sponsor01" />

			<img src="/sponsor02.webp" class="h-[44px] w-[44px]" alt="sponsor02" />

			<img src="/sponsor03.webp" class="h-[44px] w-[44px]" alt="sponsor03" />

			<img src="/sponsor04.webp" class="h-[44px] w-[44px]" alt="sponsor04" />

			<img src="/sponsor05.webp" class="h-[44px] w-[44px]" alt="sponsor05" />

			<img src="/sponsor06.webp" class="h-[44px] w-[44px]" alt="sponsor06" />

			<img src="/sponsor07.webp" class="h-[44px] w-[44px]" alt="sponsor07" />

			<img src="/sponsor08.webp" class="h-[44px] w-[44px]" alt="sponsor08" />

			<img src="/sponsor09.webp" class="h-[44px] w-[44px]" alt="sponsor09" />

			<img src="/sponsor10.webp" class="h-[44px] w-[44px]" alt="sponsor10" />
		</div>
	</div>
	<Footer />
</SectionContainer>
