---
import Footer from '../Footer.astro';
import SectionContainer from '../SectionContainer.astro';
---

<SectionContainer
	outerClass=" bg-primary text-neutral"
	innerClass="flex max-w-screen-md flex-col items-center gap-8 text-center"
>
	<h2 class="heading-responsive-02">รู้จักเรา</h2>

	<div class="flex flex-col items-center">
		<h3 class="heading-03">
			เครือข่ายต่อต้านความรุนแรง<br class="md:hidden" />ด้วยเหตุแห่งเพศ
			ประเทศไทย<br /> (Coalition against Gender-based<br class="md:hidden" /> Violence
			Thailand-CaGBV)
		</h3>
		<p class="body-02-regular mt-5">
			ประกอบด้วย 12 องค์กร<br class="md:hidden" />ภาคประชาสังคม
			ที่มีประสบการณ์ทำงาน<br
				class="md:hidden"
			/>กับผู้ประสบปัญหาความรุนแรงในครอบครัว<br />และความรุนแรงทางเพศ
			และกับเจ้าหน้าที่ผู้ให้บริการ<br
				class="md:hidden"
			/>แก่ผู้ประสบปัญหาความรุนแรง มายาวนาน ได้แก่
		</p>
	</div>

	<div class="flex flex-col items-center gap-4">
		<h3 class="heading-03">สมาชิกเครือข่าย</h3>

		<div class="flex flex-row flex-wrap justify-center gap-2">
			<img src="/member01.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member02.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member03.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member04.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member05.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member06.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member07.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member08.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member09.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member10.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member11.webp" class="h-[44px] w-[44px]" alt="" />
			<img src="/member12.webp" class="h-[44px] w-[44px]" alt="" />
		</div>

		<h3 class="heading-03">สนับสนุนโดย</h3>

		<img src="/supporter01.webp" class="h-[44px] w-[44px]" alt="" />
	</div>
	<Footer />
</SectionContainer>
