---
import Config from '../../../e-initiative.config.mjs';
import SectionContainer from '../SectionContainer.astro';
import UpdateTimestamp from '../UpdateTimestamp.svelte';
import PenIcon from '../icons/PenIcon.svelte';
import { dayElapsed, isCampaignEnded } from '../../utils/campaign';
import { countSubmittedDocuments } from '../../utils/firebase';
import Sharer from '../Sharer.svelte';

const submissionCount = await countSubmittedDocuments();
---

<SectionContainer
	outerClass="min-h-screen justify-center text-neutral"
	innerClass="container mx-auto flex w-full max-w-[722px] flex-col text-center md:flex-row md:gap-16"
	hideNavbar
>
	<div class="flex w-full flex-col items-center justify-center">
		<h1 class="heading-responsive-03">Change DV Law</h1>
		<p class="body-03-spacial text-nowrap font-bold">
			ลงชื่อเสนอร่าง พ.ร.บ.<br class="hidden md:block" /> คุ้มครองผู้ถูกกระทำ<br
				class="md:hidden"
			/>ด้วยความรุนแรงในครอบครัวฉบับใหม่<br />
			ฉบับภาคประชาชน
		</p>
		<img
			class="mt-4 w-[280px] max-w-[300px] md:w-[300px]"
			src="/content_01.webp"
			alt=""
		/>
	</div>
	<div class="m-auto flex w-full max-w-md flex-col space-y-2">
		<p class="body-03-regular mt-1">
			ต้องการ {Config.petition.expectedSignatures.toLocaleString()} รายชื่อ
		</p>

		<div class="flex flex-col gap-2">
			<div>
				<p class="heading-responsive-02">
					ลงแล้ว {submissionCount.toLocaleString()} คน
				</p>
				<p class="body-03-regular">
					{dayElapsed > 0 && <>ภายใน </>}
					{
						Config.petition.endDate.toLocaleDateString('TH-th', {
							dateStyle: 'medium',
						})
					}
				</p>
			</div>
			<UpdateTimestamp client:load date={new Date()} />
			{
				isCampaignEnded ? (
					<div class="flex flex-row items-center gap-2">
						<div class="h-[2px] flex-1 bg-secondary" />
						<p class="font-bold text-secondary">ปิดรับลงชื่อแล้ว</p>
						<div class="h-[2px] flex-1 bg-secondary" />
					</div>
				) : (
					<div class="space-y-2">
						<a
							href="#sign"
							class="heading-03 btn btn-secondary btn-block text-base-300"
						>
							ลงชื่อเลย
							<PenIcon />
						</a>
					</div>
				)
			}
		</div>

		<a
			class="heading-03 btn btn-link btn-block text-base-100 hover:text-accent"
			href="#why-sign">ทำไมต้องลงชื่อ</a
		>

		<div class="flex items-center justify-center gap-3 text-base-100">
			<span class="body-01">แชร์</span>
			<Sharer />
		</div>
	</div>
</SectionContainer>
